html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

a {
  color: white;
  opacity: 0.7;
}

a:hover {
  color: white;
  opacity: 1;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12;
  color: black;
}

#side-nav {
  height: 100%;
  position: fixed;
  left: 0;
  width: 20%;
  /* padding-top: 200px; */
  /* padding: 50px 50px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* transform: translateX(-250px);
      transition: transform 250ms ease-in-out; */
  /* background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); */
}

.main {
  margin: 0 0 0 20%;
  display: block;
  /* height: 100%; */
  background-image: url('/assets/img/background_2.jpeg');
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
}

.main-content {
  position: relative;
  margin: 0 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  top: 10px;
}

.nav {
  align-self: center;
  align-content: center;
  text-align: center;
}

#navigator {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: black;
}

#main-div {
  /* position: fixed; */
  /* left: 25%; */
  margin-left: 25%;
  min-height: 100%;
  background-image: url('../assets/img/background_2.jpeg');
  background-attachment: fixed;
}

#intro-title {
  border-width: 4px;
  border-style: dashed;
  text-align: center;
  padding: 30px;
}

#intro-self {
  float: left;
  /* margin-left: 50px; */
  margin-top: 30px;
  margin-left: 25%;
}

#portrait {
  float: right;
  /* margin-left: 50px; */
  margin-right: 25%;
  /* width: 10px; */
}

.intro-topic {
  border-width: 4px;
  /* border-style: dashed; */
  margin-bottom: 20px;
}

.intro-topic .time {
  float: right;
  color: black;
}

.topic-title {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: bold;
}

.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border-top: 1px solid black;
}

#links {
  display: inline-block;
  /* float: left; */
  /* text-align: center; */
  position: relative;
  margin: 20px;
  list-style-type: none
}

#links li {
  display: inline-block;
}

#links a {
  color: white;
  opacity: 0.7;
  border: 0;
  padding: 6px 8px 6px 9px
}

#links a:hover {
  color: white;
  opacity: 1
}

#links a .label {
  display: none
}

#links a .icon {
  display: block;
  font-size: 1.7em
}

.center {
  text-align: center;
}

#navigation {
  display: inline-block;
  /* float: left; */
  /* text-align: center; */
  position: relative;
  margin: 0;
  list-style-type: none
}

#navigation li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navi-button {
  padding: 10px 70px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: white;
  opacity: 0.7;
  -webkit-font-smoothing: antialiased;
  border-radius: 20px;
  border-style: solid;
}

.navi-button:hover {
  opacity: 1;
}

#sentence {
  color: white;
  font-size: 150%;
  /* opacity: 0.8; */
}

#sentence .comment {
  /* padding: auto, 20px; */
  margin-top: 10px;
  margin-right: 25%;
  text-align: right;
  font-size: 80%;
  color: white;
  opacity: 0.6;
}

#nav-portrait {
  width: 120px;
  height: 120px;
}

.round {
  border-radius: 50%;
}

.black-cover {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding-top: 200px;
}