@font-face {
  font-family: "iconfont";
  /* Project id 3671281 */
  src: url('../fonts/iconfont/iconfont.woff2?t=1664118676094') format('woff2'),
    url('../fonts/iconfont/iconfont.woff?t=1664118676094') format('woff'),
    url('../fonts/iconfont/iconfont.ttf?t=1664118676094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leetcode:before {
  content: "\ebf2";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-email:before {
  content: "\e66f";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

.icon-GitHub:before {
  content: "\e8c6";
}